ul#article-list
  each entity in language.entities
    li.category(class='category-' + entity.src)
      h2
        - var href = '/articles/' + (language.src.length ? language.src + '/' : '') + entity.src;
        a(href=href, rel='bookmark', title='Permanent link to ' + entity.title) !{ entity.title }
      |  
      ul
        each page in entity.entities
          - var klass = current.src === page.src ? 'current' : '';
          li(class=klass)
            - var href = '/articles/' + (language.src.length ? language.src + '/' : '') + entity.src + '/' + page.src;
            a(href=href, rel='bookmark', title='Permanent link to ' + page.title)
              | !{ page.title }
